.c-profile
    display flex
    align-items center
    padding 10px
    h1
        margin-bottom 0.1em
        font-family "Josefin Sans", Helvetica, sans-serif
        color #344563
    ul
        margin 0
        padding-left 0
    li
        list-style none
        margin-bottom 3px
    .photo
        margin-right 20px
        width 120px
        height 120px
        background-size cover
        background-repeat no-repeat
        background-position center
        box-shadow 3px 3px 20px -3px gray
        border 2px solid #0052CC
        border-radius 50%
