.c-overview
    .header
        font-family "Josefin Sans", Helvetica, sans-serif
        color #172B4D
        position relative
    .label
        padding-right 5px
        font-weight bold
        font-family "Josefin Sans", Helvetica, sans-serif
    .bio
        line-height: 1.4
    .bio, .skillset
        margin 15px
    .skillset
        display: flex;
    .list-item
        margin 15px 0
    .skillsetValue
        margin: 15px
    .skillsetImg
        width: 100%
        height auto