// Possible fonts
// 'Lato'
// 'Open Sans'
// 'Josefin Sans'

html, body
    font-family "Lato", Helvetica, sans-serif

.l-section
    .header
        margin-bottom 0.1em
    .content
        margin 10px 0